/* COLORS */
:root {
  --off-black: #252423;
  --grey: #eeeeee;

  /* FONT SIZE */
  --font-size-large: 5.8rem;
  --font-size-medium: 3.8rem;
  --font-size-small: 1.4rem;

  /* SPACING */
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --l-size: 3.2rem;
  --xl-size: 4.8rem;
  --desktop-breakpoint: 45rem;

  /* FONT */
  --primary-font: "Open Sans", sans-serif;
}
